Predicting Survival in the Titanic Data Set
We will be using a decision tree to make predictions about the Titanic data
set from Kaggle. This data set provides information on the Titanic
passengers and can be used to predict whether a passenger survived or
not

In [5]:
#importing the necessary libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report

In [36]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, roc_auc_score
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

C:\Users\Amol\anaconda34\lib\site-packages\sklearn\externals\six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

In [7]:
#importing the dataset
titanic=pd.read_csv('https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv')

In [48]:
titanic.head()

   Survived  Pclass Sex   Age  SibSp  Parch     Fare
0         0       3   1  22.0      1      0   7.2500
1         1       1   2  38.0      1      0  71.2833
2         1       3   2  26.0      0      0   7.9250
3         1       1   2  35.0      1      0  53.1000
4         0       3   1  35.0      0      0   8.0500

In [12]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
titanic = titanic[['Survived','Pclass','Sex','Age','SibSp','Parch','Fare']]

In [18]:
titanic.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [24]:
titanic['Age'].fillna(titanic['Age'].mean(),inplace=True)

In [25]:
titanic.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [28]:
titanic.Sex[titanic.Sex=='male']=1
titanic.Sex[titanic.Sex=='female']=2

C:\Users\Amol\anaconda34\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
titanic.head()

   Survived  Pclass Sex   Age  SibSp  Parch     Fare
0         0       3   1  22.0      1      0   7.2500
1         1       1   2  38.0      1      0  71.2833
2         1       3   2  26.0      0      0   7.9250
3         1       1   2  35.0      1      0  53.1000
4         0       3   1  35.0      0      0   8.0500

In [30]:
titanic.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [31]:
X=titanic.drop(columns='Survived')
y=titanic['Survived']

In [32]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=355)

In [37]:
#let's first visulise the tree on the data without any preprocessing
clf=DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [38]:
clf.score(x_train,y_train)

0.985553772070626

In [39]:
py_pred = clf.predict(x_test)

In [40]:
# accuracy of our classification tree
clf.score(x_test,y_test)

0.7276119402985075

In [41]:
# we are tuning three hyperparameters right now, we are passing the different values for both parameters
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(20,25,1),
    'min_samples_leaf' : range(1,3,1),
    'min_samples_split': range(2,3,1),
    'splitter' : ['best', 'random']
    
}

In [42]:
grid_search = GridSearchCV(estimator=clf,
                     param_grid=grid_param,
                     cv=5,
                    n_jobs =-1)

In [43]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(20, 25),
                         'min_samples_leaf': range(1, 3),
                         'min_samples_split': range(2, 3),
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [44]:
best_parameters = grid_search.best_params_
print(best_parameters)

{'criterion': 'gini', 'max_depth': 22, 'min_samples_leaf': 2, 'min_samples_split': 2, 'splitter': 'random'}

In [45]:
grid_search.best_score_

0.7961290322580645

In [46]:
clf = DecisionTreeClassifier(criterion = 'gini', max_depth =22, min_samples_leaf= 2, min_samples_split= 2, splitter ='random')
clf.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=22, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='random')

In [47]:
clf.score(x_test,y_test)

0.7873134328358209

In [ ]:
#Our test score has improved after using Gridsearch.